name: Build for release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 5.0
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Upload binary and signature to Release
      uses: softprops/action-gh-release@v2.2.2
      with:
        files: |
          ./BBPC/Build/Debug/BBPC.dll
  changelog:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout all
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Install git-cliff
        uses: taiki-e/install-action@git-cliff

      - name: Generate changelog
        run: git-cliff >> CHANGELOG.md

      - name: Add changelog to release
        uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
